{% extends "climbing/base.html" %}
{% load staticfiles %}

{% block content %}
<p>Select your NFC tag</p>

<ul>
  {% for nfc_id in nfc_ids %}
  <li><a href="{% url 'report' nfc_id=nfc_id %}">{{nfc_id}}</a></li>

  {% endfor %}
</ul>
{% endblock %}
