{% extends "climbing/base.html" %}
{% load staticfiles %}

{% block javascript %}
<script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['success', {{ percentage_success }}]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

      }
    </script>
{% endblock %}

{% block content %}

<h2>Recent attempts</h2>
<table class="table table-striped">
  <tr>
    <th>Route</th>
    <th>Date attempted</th>
    <th>Outcome</th>
  </tr>

  {% for attempt in recent %}
  <tr>
    <td>{{ attempt.route.name }}</td>
    <td>{{ attempt.attempt_time }}</td>
    <td>{{ attempt.completion_status }}</td>
  </tr>
  {% endfor %}
</table>

<h2>Recent success rate</h2>
<div id="chart_div" style="width: 400px; height: 120px;"></div>


{% endblock %}
